#game-container {
    display: flex;
    flex-direction: column;
}

#game-content {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(42, 41, 46);
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 1px solid black;

}

#game-header {
    height: 350px;
    width: 100%;
    margin-bottom: 10px;
}

#game-image {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid black;
}