* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family: 'Roboto', sans-serif;
    
    color: rgb(209, 205, 205);
}

body {
    background-color: rgb(50, 49, 53);
}

.cursor {
    cursor: pointer;
    user-select: none;
}

.transparent {
    background-color: transparent;
}

.bold {
    font-weight: bold;
}

.loading {
    margin: 30px;
}

.exception {
    align-self: flex-start;
    color: rgb(208, 255, 0);
    text-align: start;
}