#home-container {
    display: flex;
    flex-direction: column;
}

.game-list {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(42, 41, 46);
    width: 60%;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid black;
}

.game-list h1 {
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.game-container {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: rgb(50, 49, 53);
    border: 2px solid rgb(42, 41, 46);
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    transition: 0.3s;
}

.game-container:hover {
    background-color: rgb(135, 64, 163);
    transition: 0.3s;
}

.game-container * {
    background-color: transparent;
}

.game-header {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 10px
}

.game-header h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.game-header p {
    font-size: 14px;
}

.game-title {
    display: flex;
    width: 100%;
    justify-content: center;
}

.game-title .icon {
    margin-top: 8px;
    margin-left: auto;
}

.game-image {
    background-color: rgb(32, 31, 34);
    height: 100%;
    width: 200px;
    border-radius: 8px;
    align-self: flex-start;
    justify-self: center;
}

#create-game-button {
    display: flex;
    align-self: center;
}

#create-game-button h3 {
    align-self: center;
    margin-left: 10px;
}

.center {
    justify-content: center;
}