.content-container {
    width: 80%;
    margin: 10px;
    background-color: rgb(50, 49, 53);
    border-radius: 10px;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
    transition: 0.3s;
}

.content-header:hover {
    background-color: rgb(135, 64, 163);
    transition: 0.3s;
}

.content-header h3 {
    font-size: 24px;
}

.arrow-right {
    border: solid rgb(209, 205, 205);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 5px;
    transition: 0.2s;
}

.arrow-down {
    border: solid rgb(209, 205, 205);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-right: 5px;
    transition: 0.2s;
}

.content-children {
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    border-top: none;
}

.content-line {
    display: flex;
}

.flex-end {
    justify-content: space-between;
}

.content-line p {
    margin-right: 6px;
}

.add-button {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    background-color: rgb(50, 49, 53);
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

.add-button:hover {
    background-color: rgb(135, 64, 163);
    transition: 0.3s;
}

.text-area {
    border-radius: 5px;
    padding: 5px;
    border: none;
    min-height: 200px;
    background-color: rgb(209, 205, 205);
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 16px;
    min-width: 100%;
    max-width: 100%;
    align-self: center;
}