.container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.modal {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.resource-modal {
    margin-bottom: 105px;
}

.gamelist-modal {
    margin-bottom: 55px;
}

.modal div {
    border-radius: 10px;
}

#modal-header {
    display: flex;
    height: 75px;
    width: 100%;
    font-size: 14px;
    padding: 15px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(42, 41, 46);
    justify-content: space-between;
    align-items: center;
}

#modal-header p {
    font-size: 32px;
}

#modal-header * {
    background-color: transparent;
}

#modal-children {
    background-color: rgb(50, 49, 53);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 60%;
    padding: 12px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 0px;
}

#modal-children input, #modal-children select {
    border-radius: 5px;
    padding: 5px;
    border: none;
    height: 40px;
    background-color: rgb(209, 205, 205);
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 16px;
    width: 80%;
    align-self: center;
}

#modal-footer {
    display: flex;
    height: 75px;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(42, 41, 46);
    justify-content: flex-end;
    align-items: center;
}

.modal-button {
    margin-left: 15px;
}

.exception-modal {
    margin-left: 20%;
}

.confirmation {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

#confirmation-header {
    display: flex;
    height: 50px;
    width: 100%;
    font-size: 12px;
    padding: 15px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(42, 41, 46);
    justify-content: space-between;
    align-items: center;
}

#confirmation-header p{
    font-size: 20px;
}

#confirmation-footer {
    display: flex;
    height: 50px;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(42, 41, 46);
    justify-content: space-between;
    align-items: center;
}